@import url("https://fonts.googleapis.com/css?family=Lato:400,700i");

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hello-world {
  position: relative;
  color: #2c3e50;
  font-size: 3em;
  margin-bottom: 20px;
}
.hello-world:before {
  position: absolute;
  content: "";
  top: -600%;
  height: 600%; /* 6X of .hello-world */
  width: 100%;
  background: url("images/hello.svg") 50% 50% / contain no-repeat;
}
.hello-world:after {
  position: absolute;
  z-index: -1;
  content: "";
  bottom: -10%;
  left: 0;
  height: 40%;
  width: 100%;
  background: #f0898b;
}

.hello-world__tech {
  font-weight: 700;
  font-style: italic;
}

.hello-btn-group { display: flex; }
.hello-btn { background-color: #6C63FF; border-radius: 50px; padding: 12px 40px; color: white; font-size: 18px; outline: none; border-color: transparent; font-weight: 700; cursor: pointer; margin-right: 10px; }
